@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

.list-group-item .row {
    /*max-height: 223.5px;*/
}

a.disabled {
    pointer-events: none;
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}


body {
    padding-top: 50px;
}

ul.tag {
    padding-left: 15px;
}

ul.tag>li {
    display: inline-block;
    margin-bottom: 8px;
}

.top {
    margin-top: 15px;
}
.bottom{
    margin-bottom: 15px;
}
.top-50 {
    margin-top: 50px;
}
.bottom-50{
    margin-bottom: 50px;
}
.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}